<!--
  Generated template for the RepereInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class ="toolbar toolbar-ios">
    <ion-title class ="title title-ios"><div class="toolbar-title toolbar-title-ios">Informations</div></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="supprimer()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div #map id="map"></div>
  <img id="photo" [src]="image" alt="pas de photo enregistrée" />
  <button class="btn-map" ion-button color="primary" *ngIf="typeMapRoad" (click)=changementMap()>
    Vue satellite
  </button>
  <button class="btn-map" ion-button color="primary" *ngIf="!typeMapRoad" (click)=changementMap()>
    Vue carte
  </button>
  <ion-list>
    <ion-item id = "categorie">
      <ion-label color="primary" fixed >Catégorie</ion-label>
      <ion-select placeholder="Select One" (ionChange)=modifierCategorie($event)>
        <ion-option value="">
          Pas de catégorie
        </ion-option>
        <ion-option *ngFor="let cat of categories" 
          value="{{cat.libelle}}"
          [selected]="categorie == cat.libelle"
        >
          {{cat.libelle}}
        </ion-option>
      </ion-select>
    </ion-item>
    <button id='btn-cat' end ion-button icon-only color="primary" (click)="insertCategorie()">
      <ion-icon name="add"></ion-icon> 
    </button>
    <ion-item>
      <ion-label color="primary" fixed>Date</ion-label>
      <ion-datetime disabled displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="date" ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" fixed>Nom</ion-label>
      <ion-input type="text" [(ngModel)]="nom"  placeholder="Nom du repère"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" fixed>Latitude</ion-label>
      <ion-input id="lat" 
      (ionChange)="updateLatitude()"
      [(ngModel)]="latitude" placeholder="Latitude"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" fixed>Longitude</ion-label>
      <ion-input id="lng" 
      (ionChange)="updateLongitude()"
      [(ngModel)]="longitude" placeholder="Longitude"></ion-input>
    </ion-item>
    <ion-item *ngIf="audio != ''"> 
      <ion-label color="primary" fixed>Audio</ion-label>
      <button ion-button item-content (click)="play(audio)" *ngIf="!playing">
          <ion-icon name="play"></ion-icon>
      </button>
      <button ion-button item-content (click)="stop()" *ngIf="playing">
          <ion-icon name="square"></ion-icon>
      </button>
      <p item-end>{{audioName}}</p>
    </ion-item>
    <ion-item>
      <ion-label color="primary" fixed >Commentaire</ion-label>
      <ion-textarea [(ngModel)]="commentaire" rows="10" maxlength="250"></ion-textarea>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="enregistrer()">Enregistrer</button>

</ion-content>
