/*ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
}*/

page-repere-info {
    
    #map {
        height: 50%;
        width: 50%;
        margin: auto;
        float:left;
    }

    #photo{
        height: 50%;
        width: 50%;
        margin: auto;
        float:right;
    }


}
